@import '/src/Variables.scss';

#skillHeader {
  margin: 6rem 0 0 20rem;
  font-size: $h3-font-size;
  color: $orange;
}

.Skills {
  display: inline-flex;
  position: relative;
  margin: 2rem auto 4rem 20rem;
  font-size: $h4-font-size;
  text-align: end;
}

.PhotoCard {
  position: absolute;
  height: 43rem;
  width: 45%;
  margin-top: 2.5rem;
  align-items: center;
  z-index: 0;
  transition: left 1s;
  border: 1rem solid $orange;
  border-radius: 30px;
  background-image: url(/assets/images/IMG_1279.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
}

.skillsCard {
  display: flex;
  flex-direction: column;
  height: 50rem;
  width: auto;
  background-image: url(/assets/images/Gradient_skill.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2rem;
  margin-bottom: 6rem;
  z-index: 2;
  text-align: start;
  padding-left: 4rem;
 

  > div {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    
  }

  > h3 {
    width: 45vw;
    height: fit-content;
    margin-right: 4rem;
    padding: 1rem;
    color: $neon;
    background-color: $orange;
    border-radius: 1rem;
  }

  li {
    font-size: $h4-font-size;
    line-height: $line-height-lg;
    color: $light-gray;
    font-weight: lighter;
  }
}

@media only screen and (max-width: 768px) {
  #skillHeader {
    margin: 4rem 0 0 0;
    padding: 2rem 0 2rem 2rem;
    width: 100%;
    box-sizing: border-box;
    font-size: $h4-font-size;
    color: $neon;
    background-color: $orange;
    text-align: left;
  }
  .Skills {
    margin: 2rem 2rem 0 2rem;
  }

  .PhotoCard {
    display: none;
  }
  h3 {
    display: none;
  }
  .skillsCard {
    width: 100%;
    height: fit-content;
    background-image: none;
    padding-left: 0;
    text-align: left;

    > div {
      display: flex;
      flex-direction: column;
    }

    div > ul > li {
      color: $orange;
      line-height: $line-height-base;
    }

    
  }
}
