@use '../Button/Button';

@import 'src/Variables.scss';

h2 {
  margin: 4rem 0 0 12rem;
  font-size: $h3-font-size;
  color: $orange;
}

.Contact {
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  margin: 4rem auto auto 10rem;

  > div {
    display: inline-flex;
  }
}

label {
  color: $orange;
  font-size: $h4-font-size;
  margin: 1rem;
}

.formItem {
  min-width: 40vw;
  max-height: 3rem;
  padding: 1rem;
  padding-bottom: 3rem;
  font-size: $h4-font-size;
  vertical-align: text-bottom;
}

.input {
  display: inline-block;
  min-width: 20vw;
  font-size: $h4-font-size;
  background-color: $light-gray;
  border: none;
  border-bottom: 0.2rem dashed $orange;
  outline: none;
  caret-color: $orange;
  color: $orange;

  &:focus {
    border-bottom: 0.3rem dashed $orange;
  }
}

#formText {
  display: block;
  padding: 1rem;
  
  textarea {
    display: flex;
    min-height: 1rem;
    max-height: 20rem;
    width: 90%;
    margin: 1rem;
    padding: 1rem;
    color: $orange;
    font-size: $h4-font-size;
    border: 0.1rem solid $orange;
    border-radius: 1rem;
    background-color: $light-gray;
  
    &:focus {
      border: 0.2rem solid $orange;
    }
  }
}

.Button {
  @include Button.standartButton;
  height: 5rem;
  width: 20rem;
  margin: 2rem 2rem 0;
  color: $orange;
  background-color: $light-gray;
  border: 0.3rem solid $orange;

  &:hover {
    background-color: $orange;
    color: $light-gray;
  }
}



/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: $orange $light-gray;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: $light-gray;
}

*::-webkit-scrollbar-thumb {
  background-color: $orange;
  border-radius: 10px;
  border: 0px solid $orange;
}



@media only screen and (max-width: 768px) {
  /* Styles for tablets and phones */
  h2 {
    margin: 2rem 0 2rem 2rem;
  }

  .Contact {
    margin: 1rem;

    > div {
      display: flex;
      flex-direction: column;
}
}
}

.formItem {
  padding-bottom: 4rem;
  label {
    margin: auto;
    padding-bottom: 1rem;
    font-size: $h5-font-size;
  }
  input {
  width: 80vw;
  font-size: $h5-font-size;

  }

}
#formText {
  &>label {
    margin: auto;
  font-size: $h5-font-size;

  }

  textarea {
    display: block;
    padding: 1rem 1rem 2rem 1rem;
    margin: 0;
    margin-top: 2rem;
    font-size: $h5-font-size;
  }
  
}

  .Button {
    margin: 2rem auto 2rem auto;
  }


  ::-ms-input-placeholder { /* Edge 12-18 */
    color: $dark-gray;
    opacity: 0.4;
  }
  
  ::placeholder {
    color: $dark-gray;
    opacity: 0.4;
  }