@import 'src/Variables.scss';
.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  height: fit-content;
  padding: 1rem 0 1rem 0;
  font-size: $h5-font-size;
  background-color: $orange;
}

.leftSide {
  display: flex;
  flex-direction: row;
  align-self: center;
  & > a {
    padding: 0 1rem 0 1rem;
    text-decoration: none;
    color: $neon;
  }
  > a:first-child {
    display: none;
  }
}

.frontDev {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  text-align: center;
  margin: 0;
  padding: 0 1rem 0 1rem;
  line-height: 1;
  font-size: $h1-font-size;
  color: $neon;
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-self: center;

  text-transform: lowercase;
  text-align: right;

  & > a {
    padding: 0 1rem 0 1rem;
    text-decoration: none;
    color: $neon;
  }
}

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 0;
    padding: 0;
    font-size: $h5-font-size;
    border-bottom: none;
    background-color: $orange;
  }
  .leftSide {
    flex-direction: row;
    margin: 0;
    padding-top: 2rem;
    background-color: $orange;

    & > a {
      padding-bottom: 1rem;
      text-decoration: none;
      color: $neon;
    }
    > a:first-child {
      display: flex;
    }
  }
  .frontDev {
    flex-direction: column;
    width: 100%;
    padding: 2rem 0 2rem 1rem;
    text-align: left;
    font-size: $h2-font-size;
    line-height: $line-height-md;

    color: $neon;
    background-image: url(/assets/images/Background_main.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
  }

  .rightSide {
    display: none;
  }
}
